/* color switch: 626c82 from 2b2e39  */
h2, h4{color:#000;}
.body-img {max-width:420px;}
#final-cta {background-color: #f7f7f7;}
.sb-award{max-width: 200px;padding-top:20px;}
.dflex{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.dflex-center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.d-inlineblock {display: inline-block;margin-right:10px;}
#award-tiles{padding:60px 0 20px;}
/* START COMMISSIONS CSS  ------------------------------------------------------------------------------------------------------------------ */
#intro {padding-bottom:0;}
#intro .hero-color{
    background: #3d87d1; 
    background-image: url('../../images/web/comms-hero-bkgd.jpg');
    background-size:cover;
    background-position: 0 50%;
    padding-bottom:30px;
    max-height: 494px;
}
#intro h1{font-size:2.5rem;margin-bottom:0;}
#intro h4 {color: #fff;font-weight: 600;padding-bottom:2rem;padding-right:5rem;}
#intro .btn-lg {padding:.75rem 2rem;}
#intro .toptext{padding:0;min-height: 100%;}
#intro .top-colorbar{position:absolute;right:0;width:90%;background-color:#295ea0;opacity: 0.0;}
#intro .comm-img{padding:0;margin-top:250px;}
#intro .btn{min-width: 140px;margin:.5rem 0 .25rem;}
#intro .btn-region, #intro .btn-region:focus, #intro .btn-region:visited {color:#666666;background-color:#F7F7F7;}
#intro .btn-region:hover {color:#fff;background-color:#2b2e39;}
#intro .wrapper{padding:3rem 40px 1rem 80px ;}
#intro .btn-region-active, #intro .btn-region-active:hover, #intro .btn-region:hover, #intro .btn-region-active:focus, #intro .btn-region-active:visited {color: #fff;background-color: #02366C;}
#intro h3 {color:#fff; font-weight: 600;}
#intro p {color:#fff;}
#intro .comm-tabs{margin:1rem 0;}
#intro .lifestyle {max-width: 460px;bottom:-30px;}
#intro h5{color:#fff;  font-weight: 700; text-transform: uppercase;letter-spacing: 2px; padding: 10px 10px;font-size: .875rem;}
#intro .fa-li{font-size:1rem;}
#intro h5.fa-ul h5 i.fa-check-circle, #intro h5 svg.fa-check-circle {color: #2b2e39;}
#intro ul.fa-ul li i.fa-check-circle, #intro ul li svg.fa-check-circle {color: #2b2e39;}
#intro ul.fa-ul li{font-size:1.125rem; line-height: 1.325rem;padding-bottom: .25rem;}
#intro .alink {font-weight: 600;text-decoration:none;color:#dedede;/*#2b2e39*/  -webkit-transition: all .2s ease-out;  -moz-transition: all .2s ease-out;  -o-transition: all .2s ease-out;  transition: all .2s ease-out;}
#intro .alink:hover{color: #ffffff;}
#intro .scroll-link{margin-left: 15px;margin-top:40px;font-size: .9rem;line-height: 1.4rem;font-weight: 600;text-decoration:none;color:#dedede;/*#2b2e39*/  -webkit-transition: all .2s ease-out;  -moz-transition: all .2s ease-out;  -o-transition: all .2s ease-out;  transition: all .2s ease-out;}
#intro .scroll-link div{padding-left:1rem; }
#intro .scroll-link:hover{color: #ffffff;}
#intro .scrolldown {position: relative;left: -5px;}

/* END COMMISSIONS CSS  ------------------------------------------------------------------------------------------------------------------ */
/* START COMMISSIONS INCLUDES  ------------------------------------------------------------------------------------------------------------------ */
    h3, h4{color:#000; font-weight: 600;margin-top:10px;}
    .modal-dialog-top{margin-top:10%;}
    .table{background-color:transparent;}
    .table > tr > td{padding: 16px 8px;color:#333;}
    .table > thead tr > th{color:#333333;line-height: 1.25rem;background-color:transparent;}
    /*td {color:#333;}*/
    .text-price {color:#333;font-weight: 600;}
    .item-title{margin-bottom:5px;}
    .title-block{display: inline-block;}
    .country-block h4{color:#333;font-weight: 300;text-transform: uppercase;letter-spacing: 2px;display: inline;}
    .country-block img {margin: 0px 10px 0px 0px;width: 36px;}
    h5 img {margin: 0px 20px 0px 0px;width: 42px;}
    h3 {color: #333;font-weight: 600;}
    .table-footnote{font-size:.875rem;margin:.5rem 0;color:#555;}
    .example-link{margin-top:5px;}
    /* FEES AND EXPENSES */
    #box-fees-exp .title-box{border-bottom:1px solid #ddd;padding: .5rem 0;}
    #box-fees-exp .bkgd-box, #box-incentive .bkgd-box, #stocks-us .bkgd-box{background-color:#f7f7f7;border:1px solid #ddd;padding: .5rem 1.5rem 2rem;}
    #box-fees-exp .title-box h4, #box-incentive .title-box h4{font-weight: 300;/*padding:.5rem 1.5rem;*/}
    #box-fees-exp .content-box, #box-incentive .content-box{padding:1.5rem 0rem;}
    #box-fees-exp .nolines .table td, #box-incentive .nolines .table td{border-top:none;}
    #box-fees-exp td {color:#333333;}
    #box-fees-exp p {padding-top:.5rem;margin-bottom:.25rem;}
    .featured-text{line-height: 1.5rem;}
    .text-below-table{font-size:.9rem;padding-top:.325rem;color:#666;line-height: 1.125rem;margin-bottom:0;}
.panel-body {background-color:#fff;}
    /* NOTES */
    .notes .table {background-color:#fff;}
    .note .table td{padding:3px;}
/* Fees and Expenses Accordion Panels */
.bkgd-box-gray{border-color:#ddd !important;background-color:#f7f7f7 !important;}
/*
.panel-group > .panel.panel-default > .panel-heading > h4.panel-title > a.collapsed,
.panel-group > .panel.panel-default > .panel-heading > h4 > a.collapsed,
.panel-group > .panel.panel-default > .panel-heading > h4.panel-title > a,
.panel-group > .panel.panel-default > .panel-heading > h4 > a {padding: .5rem 1rem; }
*/
.panel-group .content-box p, .panel-group .content-box li, .panel-group .content-box {font-size:.9rem;}
.panel-group .content-box h5 {font-weight: 600; font-size:1rem;}
/* Overrides of product css*/
#sidebar{margin-top:5px;padding-bottom:0;}
#sidebar ul li a{padding:.75rem 1rem .75rem 1.5rem;}
/* END COMMISSIONS INCLUDES  ------------------------------------------------------------------------------------------------------------------ */
/* NEW COMMISSIONS TABLES START ----------------- */
		.page-title h2 {
	    	color: #000;
	    	font-weight: 600;
	    	font-size: 2.5rem;
	    }
	    .page-title h3 {
	    	color: #000;
	    	margin-top: 0;
	    }
	    p, li, th, td, input, select, textarea {
	    	color: #333;
	    }
	    .commission-tables {
	    	padding-bottom: 20px;
	    }
	    .disclosure {
	    	margin: 80px 0 0;
	    }
	    .commission-tables h3 {
	    	color: #000000;
	    }
	    .commission-tables h4 {
	    	color: #000000;
	    	font-weight: 600;
	    }
	    .commission-tables .item-title {
	    	margin-bottom: 10px;
	    }
	    .commission-tables .item-title h4 {
	    	display: inline;
	    	padding-left: 10px;
	    }
	    .commission-tables .item-title img {
	    	max-width: 30px;
	    }
	    .commission-tables tr>td>ul {
	    	padding-left: 15px;
	    }
	    .commission-tables .table>tbody tr>td {
	    	padding-left: 20px;
	    }
	    .commission-tables .panel-group>.panel.panel-default, 
	    .commission-tables .panel-group>.panel.card-default, 
	    .commission-tables .panel-group>.card.panel-default, 
	    .commission-tables .panel-group>.card.card-default, 
	    .commission-tables .accordion>.panel.panel-default, 
	    .commission-tables .accordion>.panel.card-default, 
	    .commission-tables .accordion>.card.panel-default, 
	    .commission-tables .accordion>.card.card-default {
	    	border: 1px solid #dee2e6;
	    }
	    .commission-tables .panel-group>.panel.panel-default>.panel-heading {
	    	background-color: #f7f7f7;
	    }
	    .commission-tables .table>thead tr>th, .table>tbody tr>th, .table>tfoot tr>th {
	    	padding: 15px 8px 15px 20px;
	    	font-weight: 600;
	    	font-size: 0.9875rem;
	    	line-height: 1rem;
	    	text-transform: none;
	    	color: #000;
	    	background-color: #f7f7f7;
	    	border-top: 1px solid #d7d7d7;
	    	border-bottom: 1px solid #d7d7d7;
	    }
	    .commission-tables h5 {
	    	font-weight: 600;
	    }
	    .commission-tables .text-price {
	    	font-weight: 600;
	    }
	    .commission-tables .tier-set {
	    	background-color: #f7f7f7;
	    	font-weight: 600;
	    }
	    .commission-tables p {
	    	margin-bottom: .25rem;
	    }
	    .commission-tables .tab-content {
	    	padding: 0;
	    }
	    .commission-tables .tab-content>.active {
	    	display: block;
	    	padding: 5px 0;
	    }
	    .commission-tables .col-min-170 {
	    	min-width: 170px;
	    }
	    .nolines>.table, .nolines>.table tr>td {
	    	border: none!important;
	    }
	    .table>tbody tr>.noborder-t {
	    	border-top: none;
	    }
	    .table>tbody tr>.noborder-b {
	    	border-bottom: none;
	    }
	    .table>tbody tr>.noborder-tb {
	    	border-top: none;
	    	border-bottom: none;
	    }
/* NEW COMMISSIONS TABLES END ----------------- */

/* MEDIA QUERY | EXTRA SMALL < 576px ---------------------------------------------------------------------------------------------------- */
@media (max-width:575.98px) {
    .body-img {max-width:100%;}
    .d-inlineblock {display: block;margin-right:0px;}
    #intro .btn{min-width: 100%;}
    #intro .comm-img{padding:0;margin-top:0px;}
    #intro .lifestyle{max-width: 100%;}
    #intro .wrapper{padding:0rem 20px 1rem 30px;}
    #intro h4 {padding-right:inherit;}
    #intro .hero-color{max-height: inherit;}
}
/* MEDIA QUERY | SMALL > 576px ---------------------------------------------------------------------------------------------------- */
@media (min-width:576px) and (max-width:767.98px) { 
.body-img {max-width:100%;}
    #intro .btn{min-width: 100%;}
    #intro .comm-img{padding:0;margin-top:0px;}
    #intro .lifestyle{max-width: 100%;}
   #intro .wrapper{padding:0rem 30px 1rem 40px;}
    #intro h4 {padding-right:inherit;}
    #intro .hero-color{max-height: inherit;}
}
/* MEDIA QUERY | MEDIUM > 768px ---------------------------------------------------------------------------------------------------- */
@media (min-width:768px) and (max-width:991.98px) {
.body-img {max-width:80%;}
    #intro .btn{min-width: 100%;}
    #intro .comm-img{padding:0;margin-top:0px;}
    #intro .lifestyle{max-width: 100%;}
    #intro .wrapper{padding:0rem 30px 1rem 40px;}
    #intro h4 {padding-right:inherit;}
}
/* MEDIA QUERY | LARGE > 992px ---------------------------------------------------------------------------------------------------- */
@media (min-width:992px) and (max-width:1199.98px) {
    /*#intro .hero-color{min-height: 720px;}*/
    #intro .comm-img{padding:0;margin-top:250px;}
}
/* MEDIA QUERY | EXTRA LARGE > 1200px ---------------------------------------------------------------------------------------------------- */
@media (min-width:1200px) {
}