@charset "utf-8";
/* CSS Document */
/* Map Points ---------------------------------------- */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
/*
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes aniInDown {
  0% {
    opacity: 0.6;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes aniInDown {
  0% {
    opacity: 0.6;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.aniInDown {
  -webkit-animation-name: aniInDown;
  animation-name: aniInDown;
}
*/
.closed-color{color:#ffb30d;}
.open-color{color:#1c7bd4;}
/* Places Map ---------------------------------------- */
#places-map {
  background: #fff; 
  padding: 0;
  position: relative;
  /*padding-top: 100px;*/
}
#places-map img {
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
#places-map .exch-map {
  position: relative;
  max-width: 56.4375em;
  margin-left: auto;
  margin-right: auto;
}
#places-map .map-pins {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#places-map .map-location-marker {
  background: url("../../images/web/map-point.png") no-repeat;
  cursor: pointer;
  position: absolute;
  height: 21px; /* 1.3125em;*/
  margin-top: -1.3125em;
  margin-left: -0.7857142857em;
  width: 21px; /* 1.3125em;*/
  z-index: 3;
	opacity: 1.0;
}
#places-map .map-location-marker-closed {
  background: url(../../images/web/map-point-closed.png) no-repeat;
  cursor: pointer;
  position: absolute;
  height: 21px; /* 1.3125em;*/
  margin-top: -1.3125em;
  margin-left: -0.7857142857em;
  width: 21px; /* 1.3125em;*/
  z-index: 3;
	opacity: 1.0;
}
#places-map .marker-nyse {
  left: 24.5%;
  top: 28%;	
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
#places-map .marker-bmv {
  left: 10.5%;
  top: 42%;
}
#places-map .marker-cboe {
  left: 15%;
  top: 28%;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
#places-map .marker-tsx {
  left: 22.5%;
  top: 24%;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
#places-map .marker-xmad {
  left: 44.5%;
  top: 30%;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
#places-map .marker-lse {
  left: 45.5%;
  top: 20%;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
#places-map .marker-six {
	left: 47%;
	top: 26%;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
#places-map .marker-fra {
left: 48%;
top: 22%;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
#places-map .marker-bse {
	left: 51.5%;
	top: 25%;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
#places-map .marker-tase {
	bottom: 64%;
	right: 41.0%;
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
#places-map .marker-moex {
	left: 58.5%;
	top: 18%;
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s;
}
#places-map .marker-nse {
	left: 70.5%;
	bottom: 52%;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
#places-map .marker-sgx {
  left: 79%;
  bottom: 42%;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
#places-map .marker-hkse {
  bottom: 56%;
  right: 15.5%;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
#places-map .marker-ksc {
	bottom: 62%;
	right: 14.5%;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
#places-map .marker-tse {
	bottom: 67.5%;
	right: 12.5%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
#places-map .marker-asx {
	bottom: 14%;
	right: 2.5%;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
#places-map .map-location-marker:after {
  -webkit-animation: pulsate 3s ease-in-out infinite;
  -moz-animation: pulsate 3s ease-in-out infinite;
  animation: pulsate 3s ease-in-out infinite;
  background: transparent;
  border: 2px solid #1c7bd4;
  border-radius: 30px;
  content: "";
  display: block;
  height: 31px;
    left: -5.5px;
    opacity: 0.9;
    position: absolute;
    top: -5.0px;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  width: 31px;
  z-index: 2;
}
#places-map .map-location-marker-closed:after {
  -webkit-animation: pulsate 3s ease-in-out infinite;
  -moz-animation: pulsate 3s ease-in-out infinite;
  animation: pulsate 3s ease-in-out infinite;
  background: transparent;
  border: 2px solid #ffb30d;
  border-radius: 30px;
  content: "";
  display: block;
  height: 31px;
     left: -5.5px;
    opacity: 0.9;
    position: absolute;
    top: -5.0px;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  width: 31px;
  z-index: 2;
}
#page-places {
  position: relative;
}
#map-info {
  background: #999;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: 0px;
  padding: 12px;
  width: 230px;
  z-index: 10;
  border: 2px solid #666;
}
#map-info .close-btn {
  background: url(../../images/web/close-btn.png) no-repeat;
  cursor: pointer;
  display: block;
  height: 0.6875em;
  width: 0.6875em;
  position: absolute;
  right: 1.125em;
  top: 1.0em;
}
#map-info::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 10px 9px;
    border-color: transparent transparent #666 transparent;
    position: absolute;
    top: -18px;
}
  #map-info.XMAD:before  {
	left:100px;
  }
  #map-info.FRA:before  {
	left:100px;
  }
  #map-info.SIX:before  {
	left:100px;
  }
  #map-info.LSE:before  {
	left:100px;
  }
  #map-info.BSE:before  {
	left:100px;
  }
  #map-info.MOEX:before  {
	left:100px;
  }
  #map-info.TASE:before  {
	left:100px;
  }
  #map-info.TSE:before  {
	left:200px;
  }
  #map-info.NSE:before  {
	left:200px;
  }
  #map-info.SGX:before  {
	left:200px;
  }
  #map-info.KSC:before  {
	left:200px;
  }
  #map-info.HKSE:before  {
	left:200px;
  }
  #map-info.ASX:before  {
	left:200px;
  }
#map-info h3 {
	font-size: 18px;
	margin: 0 0 9px;
    color: #fff;
    font-weight: 600;
    line-height: 21px;
}
#map-info h5 {
	font-size: 14px;
	margin: 0 0 6px;
  color: #fff;
  font-weight: 600;
  line-height: 18px;
  padding-top:0;
}
#map-info p {
	font-size: 13px;
	margin: 0 0 6px;
    color: #fff;
    font-weight: 300;
    line-height: 15px;
}
.map-message{
	text-align:center;
}
#local-time, #open-label, #closed-label{display:none;}
@media (min-width:992px){
}
/* MEDIA QUERY | EXTRA LARGE SIZE (1440PX - INFINITE) ---------------------------------------------------------------------------------------------------- */
@media (min-width:1440px) {
	/* WEBSITE TEMPLATE | BLEED IMAGES OFF LEFT/RIGHT @ 1440 */
}
/* MEDIA QUERY | LARGE SIZE (1200PX - INFINITE) ---------------------------------------------------------------------------------------------------- */
@media (min-width:1200px) {
	/* WEBSITE TEMPLATE | EQUAL WIDTH COLUMN 7 8 9 @ 1200PX - INFINITE */
    }
/* MEDIA QUERY | MEDIUM SIZE (992PX - 1199PX) ---------------------------------------------------------------------------------------------------- */
@media (min-width:992px) and (max-width:1199px) {
	/* WEBSITE FRAMEWORK | HEADER MENU @ 992PX - 1199PX */
    }
/* MEDIA QUERY | SMALL SIZE (768PX - 991PX) ---------------------------------------------------------------------------------------------------- */
@media (min-width:768px) and (max-width:991px) {
    }
/* MEDIA QUERY | EXTRA SMALL SIZE (0PX - 767PX) ---------------------------------------------------------------------------------------------------- */
@media (max-width:767px) {
}