:root {
	--accent-color:     #1593D8;
}
#page-title { display:none; }
/* Headings */
h2, h4 {
	color: #000;
}
h2 {
	font-size: 1.75rem;
}
@media (min-width:992px) {
	h2 {
		font-size: 2rem;
	}
}
@media (max-width:991.98px) {
	h3 {
	    font-size: 1.25rem;
	}
}
@media (min-width:992px) {
	h3 {
	    font-size: 1.5rem;
	}
}
@media (max-width:991.98px) {
	h5 {
	    font-size: 1rem;
	}
}
@media (min-width:992px) {
	h5 {
	    font-size: 1.125rem;
	}
}
.p-sm {
	font-size: .75rem;
	line-height: 1.36;
}
.bulleted-list {
	margin: 0 0 0 .9em;
	padding: 0;
}
.bulleted-list li + li {
	margin-top: .5rem;
}
.body-img {
	max-width: 420px;
}
#final-cta {
	background-color: #f7f7f7;
}
.sb-award {
	max-width: 200px;
	padding-top: 20px;
}
.dflex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.dflex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.d-inlineblock {
	display: inline-block;
	margin-right: 10px;
}
#award-tiles {
	padding: 60px 0 20px;
}
.btn-secondary.btn-wide {
	padding-top: .5rem;
	padding-right: 2rem;
	padding-bottom: .5rem;
	padding-left: 2rem;
}
@media (min-width:576px) {
	.btn-secondary.btn-wide {
		min-width: 350px;
	}
}
/* Border Grid */
.b-grid {
	display: flex;
	border: 1px solid #ddd;
}
.b-grid-item {
	padding: 1rem 2rem;
}
.b-grid-item h5 {
	color: #333333;
	line-height: 1;
}
@media (min-width:768px) {
	.b-grid-item {
		padding: 1rem 3.75rem;
	}
}
/* Toptext */
.toptext .checklist-label a{text-decoration: none;color:#fff!important;}
.toptext .checklist-label a:hover{text-decoration: none;color:#97d0f0!important;}
.toptext .checklist-icon a{color:var(--accent-color)!important;}
.toptext .checklist-icon a:hover{color:#fff!important;}
/* Checklist */
.checklist-item {
	align-items: start;
	display: flex;
	margin: 0 0 1rem;
}
.checklist-item + .checklist-item {
	margin-top: 1rem;
}
.checklist-icon {
	color: var(--accent-color);
	padding-right: .25rem;
}
.checklist-item-lg .checklist-icon{
	font-size: 1.125rem;
	padding-right: 1rem;
}
@media (min-width:992px) {
	.checklist-item-lg .checklist-icon{
		font-size: 1.25rem;
	}
}
.checklist-item-lg .checklist-label {
	font-size: 1rem;
	flex-grow: 1;
}
@media (min-width:992px) {
	.checklist-item-lg .checklist-label {
		font-size: 1.125rem;
	}
}
.soft-box {
	border: 1px solid #ddd;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
	padding: 2rem;
} 
@media (max-width:991.98px) {
	.soft-box-lg {
		padding: 1.5rem;
	}
}
@media (min-width:992px) {
	.soft-box-lg {
		padding: 3rem;
	}
}
.infographic-thumbnail {
	max-width: 400px;
	width: 100%;
}
@media (min-width:992px) {
	.image-band {
	    background: url('../../images/web/margin-section-background-borrowing-lg.jpg') #162546;
	    background-size: cover;
	    background-position: center right;
	    background-repeat: no-repeat;
	    padding-top: 120px;
	    padding-bottom: 120px;
	}
	.image-band * {
		color: #fff !important;
	}
}
@media (max-width:991.98px) {
	.image-band {
	    background: url('../../images/web/margin-section-background-borrowing-lg.jpg') #f7f7f7;
	    background-position: right bottom;
	    background-size:contain;
	    background-repeat: no-repeat;
	    padding-top: 60px;
	    padding-bottom: calc(39% + 60px); /* 39% is the aspect ratio of the image: 937/2400 */
	}
}
@media (max-width:575.98px) {
	.image-band {
	    padding-top: 45px;
	    padding-bottom: calc(39% + 45px);
	}
}
/* HELPERS  ------------------------------------------------------------------------------------------------------------------ */
.row.g-0 {
	margin-left: 0;
	margin-right: 0;
}
/* Borders */
.border-top {
	border-top: 1px solid #ddd !important;
}
.border-top-0 {
	border-top: none !important;
}
.border-start {
	border-left: 1px solid #ddd !important;
}
.border-start-0 {
	border-left: none !important;
}
@media (min-width:768px) {
	.border-top-md {
		border-top: 1px solid #ddd !important;
	}
	.border-top-md-0 {
		border-top: none !important;
	}
	.border-start-md {
		border-left: 1px solid #ddd !important;
	}
	.border-start-md-0 {
		border-left: none !important;
	}
}
/* Responsive Margin */
@media (min-width:768px) {
	.mb-md-0 {
		margin-bottom: 0 !important;
	}
}
/* Responsive Padding */
.r-pt-120 {
	padding-top: 60px !important;
}
@media (min-width:576px) {
	.r-pt-sm-120 {
		padding-top: 60px !important;
	}
}
@media (min-width:992px) {
	.r-pt-sm-120 {
		padding-top: 120px !important;
	}
	.r-pt-120 {
		padding-top: 120px !important;
	}
}
/* Shadows */
.box-shadow-01 {
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
.drop-shadow-01 {
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.3));
}
.text-underline {
	text-decoration: underline;
}
/* START MARGIN SIDEBAR  ------------------------------------------------------------------------------------------------------------------ */
@media (max-width:991.98px) {
	.margins #sidebar  {
		max-width: 100%;
		margin-top: 2px;
		padding: 0
	}
	.margins #sidebar ul.components {
		overflow-x: scroll;
		white-space: nowrap;
		margin-bottom: 0;
		z-index: 0;
		position: relative
	}
	.margins #sidebar ul li {
		display: inline-block;
		width: auto;
	}
	.margins #sidebar ul li a {
		padding: .875rem 1.5rem;
	}
}	
/* END MARGIN SIDEBAR  ------------------------------------------------------------------------------------------------------------------ */
/* START MARGINS CSS  ------------------------------------------------------------------------------------------------------------------ */
@media (max-width:991.98px) {
	#intro .container {
		max-width: none;
		width: 100%;
	}
}
#intro .hero-color {
	background: transparent linear-gradient(-90deg, #1593D8 0%, #0060AA 67%, #0060AA 100%) 0% 0% no-repeat padding-box;
	position:relative;
}
#intro .toptext {
    padding-bottom: 36px;
}
@media (min-width:992px) {
	#intro .toptext {
	    padding-bottom: 100px;
	}
}
#intro h1, #intro h2 {
	font-weight: bold;
}
@media (min-width:992px) {
	#intro h1, #intro h2 {
		font-size: 2.75rem;
	}
}
.top-colorbar {
	background-color:  var(--accent-color);
	width: 100%;
	height: 11px;
}
.comm-img {
	display: none !important;
}
.hero-tabs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
	grid-auto-rows: 1fr;
	gap: 8px;
	margin-bottom: 3rem;
}
.hero-tabs .btn {
	align-items:center;
	align-self:stretch;
	display:flex;
	justify-content: center;
	margin: 0;
}
/*
.hero-tabs {
	align-items: center;
	display: flex;
	gap: 8px;
	margin-bottom: 3rem;
	flex-wrap: wrap;
}
.hero-tabs .btn{
	align-items:center;
	align-self:stretch;
	display:flex;
	justify-content: center;
	margin: 0;
}
@media (min-width:576px) and (max-width:991.98px) {
	.hero-tabs .btn{
		width: 45%;
	}
}
@media (min-width:992px) {
	.hero-tabs .btn{
		flex: 1;
	}
}
*/
#intro .btn-hero-tab, 
#intro .btn-hero-tab:focus, 
#intro .btn-hero-tab:visited {
	color: #666666;
	background-color: #F7F7F7;
}

#intro .btn-hero-tab:hover {
	color: #fff;
	background-color: #02366C;
}
#intro .btn-hero-tab-active, #intro .btn-hero-tab-active:hover, #intro .btn-hero-tab-active:focus, #intro .btn-hero-tab-active:visited {
	color: #fff;
	background-color: #02366C;
}
#intro h3 {
	color: #fff;
	font-weight: 600;
}
#intro p {
	color: #fff;
}
#intro .lifestyle {
	max-width: 460px;
	bottom: -30px;
}
#intro h5 {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 10px;
	font-size: .875rem;
}
#intro .fa-li {
	font-size: 1rem;
}
#intro h5.fa-ul h5 i.fa-check-circle, #intro h5 svg.fa-check-circle {
	color: #35363A;
}
#intro ul.fa-ul li {
	font-size: 1.125rem;
	line-height: 1.325rem;
	padding-bottom: .25rem;
}
#intro .scroll-link {
	margin-left: 15px;
	margin-top: 40px;
	font-size: .9rem;
	line-height: 1.4rem;
	font-weight: 600;
	text-decoration: none;
	color: #35363A;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
#intro .scroll-link:hover {
	color: #ffffff;
}
#intro .scrolldown {
	position: relative;
	left: -5px;
}
/* END MARGIN CSS  ------------------------------------------------------------------------------------------------------------------ */
/* START MARGIN INCLUDES  ------------------------------------------------------------------------------------------------------------------ */
h3, h4 {
	color: #000;
	font-weight: 600;
	margin-top: 10px;
}
.modal-dialog-top {
	margin-top: 10%;
}
.table {
	background-color: transparent;
}
.table>tr>td {
	padding: 16px 8px;
	color: #333;
}
.table>thead tr>th {
	color: #333333;
	line-height: 1.25rem;
	background-color: transparent;
}
.item-title {
	margin-bottom: 5px;
}
.title-block {
	display: inline-block;
}
.country-block h4 {
	color: #333;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline;
}
.country-block img {
	margin: 0px 10px 0px 0px;
	width: 36px;
}
h5 img {
	margin: 0px 20px 0px 0px;
	width: 42px;
}
h3 {
	color: #333;
	font-weight: 600;
}
.table-footnote {
	font-size: .875rem;
	margin: .5rem 0;
	color: #555;
}
.example-link {
	margin-top: 5px;
}
/* FEES AND EXPENSES */
#box-fees-exp .title-box {
	border-bottom: 1px solid #ddd;
	padding: .5rem 0;
}
#box-fees-exp .bkgd-box, #box-incentive .bkgd-box, #stocks-us .bkgd-box {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	padding: .5rem 1.5rem 2rem;
}
#box-fees-exp .title-box h4, #box-incentive .title-box h4 {
	font-weight: 300;
	/*padding:.5rem 1.5rem;*/
}
#box-fees-exp .content-box, #box-incentive .content-box {
	padding: 1.5rem 0rem;
}
#box-fees-exp .nolines .table td, #box-incentive .nolines .table td {
	border-top: none;
}
#box-fees-exp td {
	color: #333333;
}
#box-fees-exp p {
	padding-top: .5rem;
	margin-bottom: .25rem;
}
.featured-text {
	line-height: 1.5rem;
}
.text-below-table {
	font-size: .9rem;
	padding-top: .325rem;
	color: #666;
	line-height: 1.125rem;
	margin-bottom: 0;
}
.panel-body {
	background-color: #fff;
}
/* NOTES */
.notes .table {
	background-color: #fff;
}
.note .table td {
	padding: 3px;
}
#margin-rates {
	background: #F7F7F7 !important;
}
@media (min-width: 992px) {
	#margin-requirements {
		padding-top: 0px;
	}
	#margin-requirements .nav-pills {
		justify-content: flex-end;
		transform: translateY(220%);
		position: relative;
		z-index: 5;
	}
}
/* END COMMISSIONS INCLUDES  ------------------------------------------------------------------------------------------------------------------ */
/* MEDIA QUERY | EXTRA SMALL < 576px ---------------------------------------------------------------------------------------------------- */
@media (max-width:575.98px) {
	.body-img {
		max-width: 100%;
	}
	.d-inlineblock {
		display: block;
		margin-right: 0px;
	}
	/*
	#intro .comm-img {
		padding: 0;
		margin-top: 0px;
	}
	*/
	#intro .lifestyle {
		max-width: 100%;
	}
	/*#intro .hero-color{min-height: 50px;}*/
}
/* MEDIA QUERY | SMALL > 576px ---------------------------------------------------------------------------------------------------- */
@media (min-width:576px) and (max-width:767.98px) {
	.body-img {
		max-width: 100%;
	}
	/*
	#intro .comm-img {
		padding: 0;
		margin-top: 0px;
	}
	*/
	#intro .lifestyle {
		max-width: 100%;
	}
	/* #intro .hero-color{min-height: 540px;}*/
}
/* MEDIA QUERY | MEDIUM > 768px ---------------------------------------------------------------------------------------------------- */
@media (min-width:768px) and (max-width:991.98px) {
	.body-img {
		max-width: 80%;
	}
	#intro .lifestyle {
		max-width: 100%;
	}
}
/* MEDIA QUERY | LARGE UP > 992px ---------------------------------------------------------------------------------------------------- */
@media (min-width:992px) {
}
/* MEDIA QUERY | LARGE > 992px ---------------------------------------------------------------------------------------------------- */
@media (min-width:992px) and (max-width:1199.98px) {
}
/* MEDIA QUERY | EXTRA LARGE > 1200px ---------------------------------------------------------------------------------------------------- */
@media (min-width:1200px) {
}